body {
margin: 0;
}

.first-part {
    background-color: #1F2937;
    padding-bottom: 10px;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', arial;
  }
  
.logo{
    width: 100px;
    height: 100px;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.left, .right {
    display: flex;
    
  }
  
.left {
    margin-left: 100px;
  }
  
.right {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 100px;
  }
  
.section-1 {
    margin: 60px;
    display: flex;
    margin: 100px;
    margin-left: 200px;
    justify-content: space-evenly;
    gap: 100px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', arial;
  }
  
.section-1-img {
    width: 600px;
    height: 400px;
  }
  
.section-1-text {
    display: flex;
    flex-direction: column;
    inline-size: 300px;
    justify-content: center;
    flex-grow: 2;
  }
  
button {
  width: 100px;
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  }
  
.beer {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
  }
  
.description {
    font-size: 18px;
    color: #E5E7EB;
  }
  
a {
    color: #E5E7EB;
    text-decoration: none;
  }
  
.second-half {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
.title {
    font-size: 36px;
    margin-bottom: 32px;
    text-align: center;
    padding-top: 25px;
  }
  
.beer-picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
.info {
    max-width: 200px;
    text-align: center;
  }
  
.second-part {
    background-color: white;
  }
  
.quote-section {
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Roboto', arial;
    padding: 15px;
  }
.bottom {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', arial;
}

.holder {
    display: flex;
    align-items: center;
}

.friends{
    font-size: 25px;
    font-weight: bold;
}

.join {
    font-size: 16px;
}