.first-part {
    background-color: #1F2937;
    
  }
  
  .logo{
    width: 100px;
    height: 100px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .left, .right {
    display: flex;
    
  }
  
  .left {
    margin-left: 100px;
  }
  
  .right {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 100px;
  }
  
  .section-1 {
    margin: 60px;
    display: flex;
    margin: 100px;
    margin-left: 200px;
    justify-content: space-evenly;
    gap: 16px;
  }
  
  .section-1-img {
    width: 600px;
    height: 400px;
  }
  
  .section-1-text {
    display: flex;
    flex-direction: column;
    inline-size: 300px;
  }
  
  button {
  width: 100px;
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  }
  
  .beer {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
  }
  
  .description {
    font-size: 18px;
    color: #E5E7EB;
  }
  
  a {
    color: #E5E7EB;
    text-decoration: none;
  }
  
  .second-half {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .beer-picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
  .info {
    max-width: 200px;
    text-align: center;
  }
  
  .second-part {
    background-color: white;
  }
  